<!-- Loop over each object in the events array -->
{{#each events as |event| }}
<div class="row mb-4 event">
  <div class="col-md-5">
    <h2>

      <a href="/event/{{event.id}}">{{event.name}}</a>
    </h2>
    <p>
   
    <p>
      {{event.description}}
    </p>
  </div>
</div>
{{/each}}
