
<div class="container d-flex align-items-center d-flex justify-content-center row row-cols-1 row-cols-md-3 py-5">
 <form id="login-form">
  <div class="col">
    <div class="card h-100">
        <div class="card-header">
    Login
   
  </div>
      <div class="card-body">
          
<div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input class="form-control" type="password" id="password-login" />
      </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
      </form>
    </div>
  </div>
      <form id="signup-form">

  <div class="col">
    <div class="card h-100">
        <div class="card-header">
    Register
  </div>
      <div class="card-body">
              <div class="form-group">
        <label for="name-signup">Username</label>
        <input class="form-control" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password</label>
        <input class="form-control" type="password" id="password-signup" />
      </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </div>
  </div>
  </form>
</div>


<script src="/js/login.js"></script>
