  <div class="container d-flex justify-content-center py-5">

    <div class="col-md-6"><div class="card my-8">

  <div class="card-body">
    <h2 class="card-title">Create New Event</h2>
 <form id="new-event-form" class="card-body row g-3">
  <div class="col-md-6">
    <label for="name" class="form-label">Event Name</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="col-md-6">
    <label for="category" class="form-label">category</label>
    <select id="category" class="form-control form-select">
    <option selected>Choose...</option>
    <option>Arts / Crafts</option>
    <option>Charity</option>
    <option>Family Fun</option>
    <option>Fashion</option>
    <option>Festivals</option>
    <option>Food</option>
    <option>Home Life</option>
    <option>Pets / Animals</option>
    <option>Sports</option>
    <option>Tech / Science</option>
    <option>Other / Misc</option>
    </select>
  </div>
  <div class="col-12">
    <div class="mb-3">
  <label for="description" class="form-label">Event Description</label>
  <input class="text-area form-control" id="description" ></input>
</div>
  </div>
  <div class="col-md-4">
    <label for="event_date" class="form-label">Event Date</label>
    <input type="date" class="form-control" id="event_date">  </div>
  
  <div class="col-md-4">
      <label for="event_time">Event time</label>
      <input type="time" class="form-control" id="event_time">
  </div>
  <div class="col-md-4">
        <label for="covid_items" class="form-label">Covid Protocols</label>
    <select id="covid_items" class="form-select">
      <option selected>Choose...</option>
      <option>Proof of Vaccine</option>
      <option>Mask Required</option>
      <option>Mask Optional</option>
      <option>None Specified</option>
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create Event</button>
  </div>
</form>
   
  </div>
</div>
  </div>
</div>


<script src="/js/new-event.js"></script>
